* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* start nav */
.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
}

.img {
    display: flex;
    align-items: center;
    height: 100%;
}

.imgs {
    width: 170px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.navbar ul {
    height: 100%;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    display: inline;

}

.navbar ul li a {
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    color: black;
    margin-left: 45px;

}

.navbar ul li a:hover {
    color: rgb(15, 15, 185);

}
.navbar ul li .active{
    color: rgb(15, 15, 185);
}

/* end nav */
.company {
    width: 100%;
    height: 120px;

}

.background {
    position: relative;
}

.create {
    font-size: 50px;
    font-weight: 500;
    position: absolute;
    top: 40px;
    right: 50px;
    color: white;
}

.main {
    display: flex;
    justify-content: center;
}

section .your_entry {
    width: 400px;
    height: 400px;
    padding: 80px 70px 0px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;

}


.h1 {
    position: absolute;
    font-family: "Cairo", sans-serif;
    font-size: 25px;
    top: 20px;
    right: 20px;
}



section .your_entry .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;

}

.form-control {
    width: 80%;
    height: 40px;
    border: 2px solid #909090;
    border-radius: 5px;
    font-family: "Cairo", sans-serif;
    margin-bottom: 20px;

}

.btn {
    width: 50%;
    height: 40px;
    margin: 20px 50px 0px 0px;
    border: 2px solid #909090;
    border-radius: 5px;
    font-family: "Cairo", sans-serif;
    font-size: 18px;

}


/* start footer */
footer {
    background-color: #00D2FC;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    height: 400px;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 25%);
}

/* start footer_right */
footer .footer_right {
    width: 37%;
    margin-right: 50px;
}

footer .footer_right img {
    width: 50%;
    height: 80px;
}

footer .footer_right p {
    color: black;
    font-size: 20px;
}

/* end footer_right */
/* start footer_center */
footer .footer_center {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

footer .footer_center h1 {
    color: black;
    padding-bottom: 20px;
    font-size: 30px;
}

footer .footer_center a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

/* end footer_center */
/* start footer_left*/
footer .footer_left {
    margin-left: 130px;
}

footer .footer_left h1 {
    font-size: 30px;
}

footer .footer_left .folow i {
    font-size: 50px;
    margin-left: 13px;
    margin-top: 20px;
    color: #7b7b7b;
}

footer .footer_left .folow i:hover {
    font-size: 50px;
    margin-left: 13px;
    margin-top: 20px;
    color: #d3d3d3;
}

/* end footer_left*/
/* end footer */